*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.container{
    margin-left: 100px;
    margin-right: 100px;
}
.logo{
    margin-top: 30px;
    width: 100px;
}
.header-text{
    width: 350px;
    margin-top: 150px;
    margin-bottom: 40px;
}
h1{
    font-size: 34px;
}
.square{
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #f67c92;
    margin: 15px 0;
}
.btn{
    padding: 15px 40px;
    background-color: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
    color: black;
    margin-top: 10px;
    text-transform: uppercase;
}

p{
    font-size: 15px;
    line-height: 18px;
    color: #777;
}
.line1{
    width: 15px;
    height: 15px;
    background-color: #f67c92;
    display: inline-block;
}
.line2{
    width: 80px;
    height: 1px;
    background-color: #f67c92;
    display: inline-block;
}.line3{
    width: 60px;
    height: 1px;
    background-color: #f67c92;
    display: inline-block;
}
.line{
    line-height: 8px;
}

/* nav area */
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}
nav ul li{
    list-style-type: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
#menubtn{
    width: 40px;
    position: fixed;
    right: 60px;
    top: 20px;
    z-index: 2;
    cursor: pointer;
}

/*---------- about---- */
.about-area{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col-2{
    flex-basis:50%;
}
.about-img img{
    width: 100%;
}
.about-container{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
.about-text{
    text-align: right;
    
}
.about-text h2{
    margin: 50px 0 10px;
    font-style: italic;
    font-size: 28px;
}
.about-text h4{
    font-style: italic;
    font-size: 20px;
    color: #797979;
}

/* features area */
.features-area{
    padding: 50px 0;
}
.row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.col-4{
    flex-basis: 25%;
    text-align: center;
}
.single-feature img{
    width: 100px;
}
.single-feature h4{
    margin-bottom: 15px;
    font-size: 18;
}
.feature-btn{
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.feature-btn .line{
    text-align: right;
    margin-right: 15px;
}
